<a href="https://colab.research.google.com/github/AbhayK007/Python-Tutorial/blob/main/Python_Syntaxes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **String**

"\n" in string is used to create new line/ break line

In [ ]:
print("hello \nI am abhay")

hello
I am abhay

triple qoute allows line break

In [ ]:
print('''hello
ok''')

hello
ok

r"\__" will print \__

In [ ]:
print(r"I'am \"abhay\"")

I'am \"abhay\"

Formatting of Strings

In [ ]:
# Default order
String0 = "{} {} {}".format('Geeks', 'For', 'Life')
print("Print String in default order: ")
print(String0)
  
# Positional Formatting
String1 = "I am {1} {0} {2}".format( String0, 'For', 'Life')
print("\nPrint String in Positional order: ")
print(String1)
  
# Keyword Formatting
String1 = "{l} {f} {g}".format(g = 'Geeks', f = 'For', l = 'Life')
print("\nPrint String in order of Keywords: ")
print(String1)

Print String in default order:
Geeks For Life

Print String in Positional order:
I am For Geeks For Life Life

Print String in order of Keywords:
Life For Geeks

Formatting of Integers
binary representation

In [ ]:

String1 = "{0:b}".format(16)
print("\nBinary representation of 16 is ")
print(String1)

# Formatting of Floats
String1 = "{0:e}".format(165.6458)
print("\nExponent representation of 165.6458 is ")
print(String1)

# Rounding off Integers
String1 = "{0:.2f}".format(1/5)
print("\none-sixth is : ")
print(String1)

Binary representation of 16 is
10000

Exponent representation of 165.6458 is
1.656458e+02

one-sixth is :
0.20

String alignment

In [ ]:

String1 = "|{:<10}|{:^10}|{:>10}|".format('Geeks','for','Geeks')
print("\nLeft, center and right alignment with Formatting: ")
print(String1)

Left, center and right alignment with Formatting:
|Geeks     |   for    |     Geeks|

In [ ]:
string1=" I AM abhay"
print(string1.lower())

 i am abhay

In [ ]:
# Splitting at 3
word = 'CatBatSatFatOr'
print([word[i:i+3] for i in range(0, len(word), 3)])

['Cat', 'Bat', 'Sat', 'Fat', 'Or']

# **LIST**

knowing size of list

In [ ]:
List2 = [10, 20, 14]
print(len(List2))

3

Adding Elements to a List= mylist
> mylist.append("what u want to add")
> item added at end

In [ ]:
List = []
print("Initial blank List: ")
print(List)

for i in range(1, 4):
    List.append(i)
print("\nList after Addition of elements from 1-3: ")
print(List)

Initial blank List:
[]

List after Addition of elements from 1-3:
[1, 2, 3]

list.insert(position,value)

In [ ]:
List = [1,2,3,4]
print("Initial List: ")
print(List)
List.insert(3, 12)
List.insert(0, 'Geeks')
print("\nList after performing Insert Operation: ")
print(List)

Initial List:
[1, 2, 3, 4]

List after performing Insert Operation:
['Geeks', 1, 2, 3, 12, 4]

list.extend() used to add multiple items at end

In [ ]:
List = [1,2,3,4]
print("Initial List: ")
print(List)

List.extend([8, 'Geeks', 'Always'])
print("\nList after performing Extend Operation: ")
print(List)

Initial List:
[1, 2, 3, 4]

List after performing Extend Operation:
[1, 2, 3, 4, 8, 'Geeks', 'Always']

removing elements, removes 1st occurance

> list.remove(value)

In [ ]:
List = [1, 2, 3, 4, 5, 6,6, 
        7, 8, 9, 10, 11, 12]
print("Intial List: ")
print(List)

List.remove(5)
List.remove(6)
print("\nList after Removal of two elements: ")
print(List)

Intial List:
[1, 2, 3, 4, 5, 6, 6, 7, 8, 9, 10, 11, 12]

List after Removal of two elements:
[1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12]

remove element,  default end item removed


> list.pop()

In [ ]:
List = [1,2,3,4,5]

List.pop()
print("\nList after popping an element: ")
print(List)

List.pop(2)
print("\nList after popping a specific element: ")
print(List)

List after popping an element:
[1, 2, 3, 4]

List after popping a specific element:
[1, 2, 4]

selecting range of elements from list

> list.slice(position:position)

In [ ]:
List = ['G','E','E','K','S','F',
        'O','R','G','E','E','K','S']
print("Intial List: ")
print(List)

Sliced_List = List[3:8]
print("\nSlicing elements in a range 3-8: ")
print(Sliced_List)

Intial List:
['G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']

Slicing elements in a range 3-8:
['K', 'S', 'F', 'O', 'R']

list.index(value)

> Returns lowest index where the element appears.

In [ ]:
list1 = [1, 2, 3, 4, 1, 1, 1, 4, 5]
 
# Will print the index of '4' in list1
print(list1.index(4))

3

sum

> sum(list)

In [ ]:
numbers = [1,2,3,4,5,1,4,5]
  
# start parameter is not provided
Sum = sum(numbers)
print(Sum)

25

max ,  min

> max(list)

In [ ]:
numbers = [1,2,3,4,5,1,4,5]
  
# start parameter is not provided
MAx = max(numbers)
print(MAx)

5

len(list)

> returns length of list

In [ ]:
numbers = [1,2,3,4,5,1,4,5]
  
# start parameter is not provided
Length = len(numbers)
print(Length)

8

# TUPLE

In [ ]:
Tuple1 = tuple('Geeks')
print("\nTuple with the use of function: ")
print(Tuple1)

Tuple with the use of function:
('G', 'e', 'e', 'k', 's')

repeatation

In [ ]:
#with repetition
Tuple1 = ('Geeks',) * 3
print(Tuple1)

('Geeks', 'Geeks', 'Geeks')

# **SETS**

> removes repeating elements, order unpredictable

In [ ]:
set1 = set("GeeksForGeeks")
print("\nSet with the use of String: ")
print(set1)

set1 = set(["Geeks", "For", "Geeks"])
print("\nSet with the use of List: ")
print(set1)

Set with the use of String:
{'s', 'e', 'G', 'o', 'F', 'r', 'k'}

Set with the use of List:
{'For', 'Geeks'}

set.add(value)

> only 1 item can be added

In [ ]:
set1 = set()
print("Intial blank Set: ")
print(set1)

set1.add(8)
set1.add(9)
set1.add((6,7))
print("\nSet after Addition of Three elements: ")
print(set1)

Intial blank Set:
set()

Set after Addition of Three elements:
{8, 9, (6, 7)}

set.update(values)

> for adding multiple values

In [ ]:
set1 = set([ 4, 5, (6, 7)])
set1.update([10, 11])
print("\nSet after Addition of elements using Update: ")
print(set1)

Set after Addition of elements using Update:
{4, 5, (6, 7), 10, 11}

Checking the element

> true or false

In [ ]:
set1 = set(["Geeks", "For", "Geeks"])
print("Geeks" in set1)

True

# **DICTIONARY**

In [ ]:
Dict = {'Name': 'Geeks', 1: [1, 2, 3, 4]}
print("Dictionary with the use of Mixed Keys: ")
print(Dict)

Dict = dict([(1, 'Geeks'), (2, 'For')])
print("\nDictionary with each item as a pair: ")
print(Dict)
print("\n")

print(1 in Dict)
print('Geeks' in Dict)

Dictionary with the use of Mixed Keys:
{'Name': 'Geeks', 1: [1, 2, 3, 4]}

Dictionary with each item as a pair:
{1: 'Geeks', 2: 'For'}


True
False

Adding elements

In [ ]:
# Creating an empty Dictionary
Dict = {}
print("Empty Dictionary: ")
print(Dict)
  
# Adding elements one at a time
Dict[0] = 'Geeks'
Dict[2] = 'For'
Dict[3] = 1
print("\nDictionary after adding 3 elements: ")
print(Dict)
  
# Adding set of values 
# to a single Key
Dict['Value_set'] = 2, 3, 4
print("\nDictionary after adding 3 elements: ")
print(Dict)

Empty Dictionary:
{}

Dictionary after adding 3 elements:
{0: 'Geeks', 2: 'For', 3: 1}

Dictionary after adding 3 elements:
{0: 'Geeks', 2: 'For', 3: 1, 'Value_set': (2, 3, 4)}

Accessing elements

In [ ]:
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}
  
# accessing a element using key
print("Accessing a element using key:")
print(Dict['name'])
  
# accessing a element using get()

print("Accessing a element using get:")
print(Dict.get(3))

Accessing a element using key:
For
Accessing a element using get:
Geeks

# **ARRAY**

array(data_type, value_list)

> creating

In [ ]:
import array as arr
  
# creating an array with integer type 'i'
a = arr.array('i', [1, 2, 3])
# printing original array
print ("The new created array is : ", end =" ")
for i in range (0, 3):
    print (a[i], end =" ")
print()

# creating an array with float type 'd'
b = arr.array('d', [2.5, 3.2, 3.3])
  
# printing original array
print ("The new created array is : ", end =" ")
for i in range (0, 3):
    print (b[i], end =" ")

The new created array is :  1 2 3
The new created array is :  2.5 3.2 3.3

updating element

> array[position]= value

In [ ]:
import array
  
# initializing array with array values
# initializes array with signed integers
arr = array.array('i', [1, 2, 3, 1, 2, 5]) 
  
# printing original array
print ("Array before updation : ", end ="")
for i in range (0, 6):
    print (arr[i], end =" ")
  
print ("\r")
  
# updating a element in a array
arr[2] = 6
print("Array after updation : ", end ="")
for i in range (0, 6):
    print (arr[i], end =" ")
print()

Array before updation : 1 2 3 1 2 5
Array after updation : 1 2 6 1 2 5